<ul class="nav nav-pills">
  <li class="nav-item">
    <%= link_to 'Home', root_path, class:'nav-link'%>
  </li>
  <li class="nav-item">
    <%= link_to 'About me', home_about_path, class:'nav-link'%>
  </li>
  <li class="nav-item">
    <%= link_to 'Pins List', pins_path, class:'nav-link'%>
  </li>

  <% if user_signed_in? %>
    <li class="nav-item">
     <%= link_to 'Edit profile', edit_user_registration_path, class:'nav-link' %>
    </li>
    <li class="nav-item">
     <%= link_to 'New pin', new_pin_path, class:'nav-link' %>
    </li>
    <li class="nav-item">
     <%= link_to 'Log out', destroy_user_session_path, method: :delete, class:'nav-link' %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to 'Log in', new_user_session_path, class:'nav-link'%>
    </li>
    <li class="nav-item">
      <%= link_to 'Sign up', new_user_registration_path, class:'nav-link'%>
    </li>
  <% end %>
</ul>
